
{% extends "teeuApp/base.html" %}

{% load static %}
				
				{% block menu %}
				<!-- Lower Header -->
				<div id="lower-header">
					
					<div class="container">
					
					<div id="menu-button">
						<div>
						<span></span>
						<span></span>
						<span></span>
						</div>
						<span>Menu</span>
					</div>
					<ul id = "tabdebut">
					
					<ul id="navigation">
						
						<!-- Home -->
						<li class="home-button ">
						
							<a href="{% url 'index'%}"><i class="icons icon-home"></i></a>
							
							
						</li>
						<!-- /Home -->
						
						<!-- Pages -->
						<li >
						
							<span>A propos de nous</span>
							
							<ul>
							
								<li><a href="{% url 'index' %}">Qui sommes nous ?</a></li>
								<li><a href="{% url 'Organisation' %}">Notre Organisation</a></li>
								<!--<li><a href="mission2.php">Notre mission</a></li>
								<li><a href="testimonials.html">Nos eglises</a></li>-->
								<li><a href="{% url 'Contact' %}">Nous Contacter</a></li>
								
							</ul>
							
						</li>
						<!-- /Pages -->
						
						<li >
						
							<span>Media</span>
							
							<ul>
							
								<li><a href="{% url 'galerie' %}">Galerie</a></li>	
								<li><a href="{% url 'Enseignements' %}">Enseignements</a></li>	
								<!--<li><a href="mission2.php">Notre mission</a></li>
								<li><a href="testimonials.html">Nos eglises</a></li>-->
								
							</ul>
							
						</li>
						<!-- Galerie -->
						
						<!-- Galerie -->

						<!-- /Get Involved -->
						<!-- Events -->
						
						<!-- /Events -->
						
						<!-- Media -->
					<!--	<li >
						
							<span>Media</span>
							
							<ul>
							
								
										<li><a href="ecouter.php"> Ecouter la parole</a></li>
										<li><a href="regarder.php"> Regarder les videos</a></li>
										<li><a href="galerie.php">Gallerie</a></li>
										<li><a href="librairie.php">Notre librairie</a></li>
								
						
							</ul>
							
						</li>-->
						<!-- /Media -->
						
						
						
						
						<li >
							<a href="{% url 'evenements' %}">Nos Evenements</a>
						</li> 
						
						
						<!-- Features -->
						<!--<li >
						
							<span>Features</span>
							
							<ul>
							
								<li><a href="features-typography.html">Typography</a></li>
								<li><a href="features-shortcodes.html">Shortcodes</a></li>
								
							</ul>
							
						</li> -->
						<!-- /Features -->
						
						
						<!-- Blog -->
						<li >
						
								<a href="{% url 'pain' %}">Pain quotidien </a>
									
						</li>
						<!-- /Blog -->
						
						<!-- Blog -->
						<li class="current-menu-item">
						
								<a href="{% url 'discussion' %}">Discussion </a>
									
						</li>
						<!-- /Blog -->

						
						<!-- Shop -->
						<!--<li >
						
							
							
								<a href="shop-frontpage.html">Notre librairie</a>
								
								
							
						</li>
						 /Shop -->
						
						<!-- Donate -->
						<li class="donate-button ">
							<span>Donation</span>
							<ul>
							<li><a href="{% url 'don' %}">Faire un don</a></li>
							<li><a href="{% url 'implique' %}">Impliquez-vous</a></li>
							</ul>
						</li>
						<!-- /Donate -->
						
					</ul>

				</ul>
					
					</div>
					
				</div>
				<!-- /Lower Header -->
				{% endblock %}
				

				
{% block content %}
<section id="content">	
			
			<!-- Page Heading -->
			<section class="section page-heading animate-onscroll">
				
				<h1>Blog</h1>
				<p class="breadcrumb"><a href="index.php">Accueil</a> / Blog</p>
				
			</section>
			<!-- Page Heading -->
			

			
			<!-- Section -->
			<section class="section full-width-bg gray-bg">
				
				<div class="row">
				
					<div class="col-lg-9 col-md-9 col-sm-8 col-lg-push-3 col-md-push-3 col-sm-push-4">
						
						<div class="row">
							
							<div class="col-lg-12 col-md-12 col-sm-12">
															
								<!-- Blog Post -->
								<div class="blog-post style2 animate-onscroll">
									
									<div class="post-image">
										
										<img src="img/blog/1.jpg" alt="">
																				
										 <div class="media-hover">
											<div class="media-icons">
						<a href="img/blog/1.jpg" data-group="media-jackbox" class="jackbox media-icon"><i class="icons icon-zoom-in"></i></a>
							<a href="blog-single-sidebar.html" class="media-icon"><i class="icons icon-link"></i></a>
											</div>
										</div>											
																			
									</div>
									
									<div class="post-content">
										
										<div class="post-header">
											<h2><a href="blog-single-sidebar.html">Standard Post</a></h2>
											<div class="post-meta">
												<span>by <a href="#">admin</a></span>
												<span>October 01, 2013 11:28AM</span>
												<span><a href="blog-single-sidebar.html#comments">25 Comments</a></span>
											</div>
										</div>
										
										<div class="post-exceprt">
											
<p>Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus. </p>
																						<a href="blog-single-sidebar.html" class="button read-more-button big button-arrow">Read More</a>
										
										</div>
										
									</div>
									
																											
								</div>
								<!-- /Blog Post -->

								<!-- Blog Post -->
								<div class="blog-post style2 animate-onscroll">
									
									<div class="post-image">
										
																				
																				
										<iframe src="http://player.vimeo.com/video/51234218" width="500" height="250"></iframe>		
									</div>
									
									<div class="post-content">
										
										<div class="post-header">
											<h2><a href="blog-single-sidebar.html">Vimeo Video Post</a></h2>
											<div class="post-meta">
												<span>by <a href="#">admin</a></span>
												<span>October 01, 2013 11:28AM</span>
												<span><a href="blog-single-sidebar.html#comments">3 Comments</a></span>
											</div>
										</div>
										
										<div class="post-exceprt">
											
									<p>Duis ac turpis. Integer rutrum ante eu lacus.Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque. Vivamus eget nibh. Etiam cursus leo vel metus. Nulla facilisi. Aenean nec eros. </p>
								<a href="blog-single-sidebar.html" class="button read-more-button big button-arrow">Read More</a>

										</div>
										
									</div>
									
																											
								</div>
								<!-- /Blog Post -->								
								
								
								
																
								<!-- Blog Post -->
								<div class="blog-post style2 animate-onscroll">
									
									<div class="post-image">
																				
									<audio>
										<source src="assets/song.mp3" type="audio/mpeg">
																						
										<source src="assets/song.ogg" type="audio/ogg">
										Your browser does not support the audio element.
										</audio>
																			
									</div>
									
									<div class="post-content">
										
										<div class="post-header">
											<h2><a href="blog-single-sidebar.html">Audio Post</a></h2>
											<div class="post-meta">
												<span>by <a href="#">admin</a></span>
												<span>October 01, 2013 11:28AM</span>
											<span><a href="blog-single-sidebar.html#comments">11 Comments</a></span>
											</div>
										</div>
										
										<div class="post-exceprt">
											
																																	
										</div>
										
									</div>
									
<p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse sollicitudin velit sed leo. Ut pharetra augue nec augue. Nam elit agna,endrerit sit amet, tincidunt ac, viverra sed, nulla. </p>
							<a href="blog-single-sidebar.html" class="button read-more-button big button-arrow">Read More</a>
																		
								</div>
								<!-- /Blog Post -->	

								<!-- Blog Post -->
								<div class="blog-post style2 animate-onscroll">
									
									<div class="post-image">
										
									
									<!-- Portfolio Slideshow -->
										<div class="portfolio-slideshow flexslider animate-onscroll">
											
											<ul class="slides">
											
		<li><img src="img/blog/slide1.jpg" alt=""></li><li><img src="img/blog/slide2.jpg" alt=""></li><li><img src="img/blog/slide3.jpg" alt=""></li>												
											</ul>
											
										</div>
										<!-- /Portfolio Slideshow -->
																			
									</div>
									
									<div class="post-content">
										
										<div class="post-header">
											<h2><a href="blog-single-sidebar.html">Image Slideshow Post</a></h2>
											<div class="post-meta">
										<span>by <a href="#">admin</a></span>
										<span>October 01, 2013 11:28AM</span>
										<span><a href="blog-single-sidebar.html#comments">5 Comments</a></span>
											</div>
										</div>
										
										<div class="post-exceprt">
											
											<p>Donec eget tellus non erat lacinia fermentum. Donec in velit vel ipsum auctor pulvinar. Vestibulum iaculis lacinia est. Proin dictum elementum velit. Fusce euismod consequat ante.</p>
										<a href="blog-single-sidebar.html" class="button read-more-button big button-arrow">Read More</a>
																						
										</div>
										
									</div>
									
																											
								</div>
								<!-- /Blog Post -->		

								<!-- Blog Post -->
								<div class="blog-post style2 animate-onscroll">
									
									<div class="post-image">
										
									
									<blockquote class="iconic-quote">"Quisque diam lorem, interdum vitae, dapibus ac, scelerisque vitae, pede. Donec eget tellus non erat lacinia fermentum. Donec in velit vel ipsum."</blockquote>
																				
																			
									</div>
									
									<div class="post-content">
										
										<div class="post-header">
											<h2><a href="blog-single-sidebar.html">Blockquote Post</a></h2>
											<div class="post-meta">
												<span>by <a href="#">admin</a></span>
												<span>October 01, 2013 11:28AM</span>
									<span><a href="blog-single-sidebar.html#comments">21 Comments</a></span>
											</div>
										</div>
										
										<div class="post-exceprt">
											
										<a href="blog-single-sidebar.html" class="button read-more-button big button-arrow">Read More</a>
																						
										</div>
										
									</div>
									
																											
								</div>
								<!-- /Blog Post -->								
								
								
																
								<!-- Blog Post -->
								<div class="blog-post style2 animate-onscroll">
									
									<div class="post-image">
																		
								<blockquote class="iconic-quote link-quote"><a href="#">Awesome templates on Themeforest. Check them out!</a></blockquote>
																			
									</div>
									
									<div class="post-content">
										
										<div class="post-header">
											<h2><a href="blog-single-sidebar.html">Link Post</a></h2>
											<div class="post-meta">
												<span>by <a href="#">admin</a></span>
												<span>October 01, 2013 11:28AM</span>
										<span><a href="blog-single-sidebar.html#comments">8 Comments</a></span>
											</div>
										</div>
										
										<div class="post-exceprt">
											
							<a href="blog-single-sidebar.html" class="button read-more-button big button-arrow">Read More</a>
																						
										</div>
										
									</div>
									
																											
								</div>
								<!-- /Blog Post -->								
								
								
								
																
								<!-- Blog Post -->
								<div class="blog-post style2 animate-onscroll">
									
									<div class="post-image">
										
																				
																				
					<iframe width="500" height="250" src="http://www.youtube.com/embed/3ZJ5K0zo7dc?rel=0&amp;wmode=transparent"></iframe>										
												
									</div>
									
									<div class="post-content">
										
										<div class="post-header">
											<h2><a href="blog-single-sidebar.html">Youtube Video Post</a></h2>
											<div class="post-meta">
												<span>by <a href="#">admin</a></span>
												<span>October 01, 2013 11:28AM</span>
									<span><a href="blog-single-sidebar.html#comments">21 Comments</a></span>
											</div>
										</div>
										
										<div class="post-exceprt">
											
<p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse sollicitudin velit sed leo. Ut pharetra augue nec augue. </p>
								<a href="blog-single-sidebar.html" class="button read-more-button big button-arrow">Read More</a>
																						
										</div>
										
									</div>
									
																											
								</div>
								<!-- /Blog Post -->								
								
								
							</div>
							
							
						</div>
						
						<div class="animate-onscroll">
						
							<div class="divider"></div>
							
							<div class="numeric-pagination">
								<a href="#" class="button"><i class="icons icon-left-dir"></i></a>
								<a href="#" class="button">1</a>
								<a href="#" class="button active-button">2</a>
								<a href="#" class="button">3</a>
								<a href="#" class="button"><i class="icons icon-right-dir"></i></a>
							</div>
						
						</div>
						
					</div>
					
					<!-- Sidebar -->
					<div class="col-lg-3 col-md-3 col-sm-4 col-lg-pull-9 col-md-pull-9 col-sm-pull-8 sidebar">
						
												<div class="banner-wrapper">
							<a class="banner animate-onscroll" href="#">
								<i class="icons icon-calendar"></i>
								<h4>Find Events</h4>
								<p>Lorem ipsum dolor sit amet</p>
							</a>
						</div>
						
						<div class="banner-wrapper">
							<a class="banner animate-onscroll" href="#">
								<i class="icons icon-check"></i>
								<h4>Register to vote</h4>
								<p>Nemo enim ipsam</p>
							</a>
						</div>
						
						<div class="banner-wrapper">
							<a class="banner animate-onscroll" href="#">
								<i class="icons icon-user"></i>
								<h4>Volunteer</h4>
								<p>Pellentesque sed dolor</p>
							</a>
						</div>
						
						<div class="banner-wrapper">
							<div class="banner donate-banner animate-onscroll">
							
								<h5>Make a <strong>quick donation</strong> here</h5>
								<form>
								
									<input id="donate-amount-1" type="radio" name="donate-amount">
									<label for="donate-amount-1">$5</label>
									
									<input id="donate-amount-2" type="radio" name="donate-amount">
									<label for="donate-amount-2">$25</label>
									
									<input id="donate-amount-3" type="radio" name="donate-amount">
									<label for="donate-amount-3">$100</label>
									
									<input type="submit" value="Donate">
									
								</form>
							</div>
						</div>		<div class="social-media animate-onscroll">
							<span class="small-caption">Get connected:</span>
							<ul class="social-icons">
		<li class="facebook"><a href="#" class="tooltip-ontop" title="Facebook"><i class="icons icon-facebook"></i></a></li>
		<li class="twitter"><a href="#" class="tooltip-ontop" title="Twitter"><i class="icons icon-twitter"></i></a></li>
		<li class="google"><a href="#" class="tooltip-ontop" title="Google Plus"><i class="icons icon-gplus"></i></a></li>
		<li class="youtube"><a href="#" class="tooltip-ontop" title="Youtube"><i class="icons icon-youtube-1"></i></a></li>
		<li class="flickr"><a href="#" class="tooltip-ontop" title="Flickr"><i class="icons icon-flickr-4"></i></a></li>
		<li class="email"><a href="#" class="tooltip-ontop" title="Email"><i class="icons icon-mail"></i></a></li>
							</ul>
							<ul class="social-buttons">
								<li>
	<iframe src="http://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;width&amp;layout=standard&amp;action=like&amp;show_faces=false&amp;share=false&amp;height=35" style="border:none; overflow:hidden; height:21px; padding-top:1px; width:50px;"></iframe>
								</li>
								<li class="facebook-share">
							<div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-type="button_count"></div>
								</li>
								<li class="twitter-share">
									<a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
								</li>
							</ul>
						</div>						<!-- Featured Video -->
						<div class="sidebar-box white featured-video animate-onscroll">
							<h3>Featured Video</h3>
							<iframe width="560" height="315" src="http://www.youtube.com/embed/FBorRZnqtMo?wmode=transparent" allowfullscreen></iframe>
							<a href="#" class="button transparent button-arrow">More videos</a>
						</div>
						<!-- /Featured Video -->						<!-- Upcoming Events -->
						<div class="sidebar-box white animate-onscroll">
							<h3>Upcoming Events</h3>
							<ul class="upcoming-events">
							
								<!-- Event -->
								<li>
									<div class="date">
										<span>
											<span class="day">25</span>
											<span class="month">DEC</span>
										</span>
									</div>
									
									<div class="event-content">
										<h6><a href="event-post-v2.html">Sed in lacus ut enim</a></h6>
										<ul class="event-meta">
											<li><i class="icons icon-clock"></i> 4:00 pm - 6:00 pm</li>
											<li><i class="icons icon-location"></i> 340 W 50th St.New York</li>
										</ul>
									</div>
								</li>
								<!-- /Event -->
								
								<!-- Event -->
								<li>
									<div class="date">
										<span>
											<span class="day">5</span>
											<span class="month">JAN</span>
										</span>
									</div>
									
									<div class="event-content">
										<h6><a href="event-post-v2.html">Sed in lacus ut enim</a></h6>
										<ul class="event-meta">
											<li><i class="icons icon-clock"></i> 4:00 pm - 6:00 pm</li>
											<li><i class="icons icon-location"></i> 340 W 50th St.New York</li>
										</ul>
									</div>
								</li>
								<!-- /Event -->
								
								<!-- Event -->
								<li>
									<div class="date">
										<span>
											<span class="day">8</span>
											<span class="month">JAN</span>
										</span>
									</div>
									
									<div class="event-content">
										<h6><a href="event-post-v2.html">Sed in lacus ut enim</a></h6>
										<ul class="event-meta">
											<li><i class="icons icon-clock"></i> 4:00 pm - 6:00 pm</li>
											<li><i class="icons icon-location"></i> 340 W 50th St.New York</li>
										</ul>
									</div>
								</li>
								<!-- /Event -->
								
							</ul>
							<a href="#" class="button transparent button-arrow">More events</a>
						</div>
						<!-- /Upcoming Events -->						<!-- Image Banner -->
						<div class="sidebar-box image-banner animate-onscroll">
							<a href="issues.html">
								<img src="img/main-issues.jpg" alt="">
								<h3>The main issues</h3>
								<span class="button transparent button-arrow">Find out more</span>
							</a>
						</div>
						<!-- /Image Banner -->						<!-- Flickr Photos -->
						<div class="sidebar-box white flickr-photos animate-onscroll">
							<h3>Flickr Photos</h3>
							<ul class="flickr-feed">
							</ul>
						</div>
						<!-- /Flickr Photos -->						<!-- Popular News -->
						<div class="sidebar-box white animate-onscroll">
							<h3>Popular news</h3>
							<ul class="popular-news">
							
								<!-- Blog Item -->
								<li>
									<div class="thumbnail">
										<img src="img/blog/thumb1.jpg" alt="">
									</div>
									
									<div class="post-content">
										<h6><a href="blog-single-sidebar.html">Vestibulum ante</a></h6>
										<div class="post-meta">
											<span>by <a href="#">admin</a></span>
											<span>October 01, 2013 11:28AM</span>
										</div>
									</div>
								</li>
								<!-- /Blog Item -->
								
								<!-- Blog Item -->
								<li>
									<div class="thumbnail">
										<img src="img/blog/thumb2.jpg" alt="">
									</div>
									
									<div class="post-content">
										<h6><a href="blog-single-sidebar.html">Sed in lacus ut enim</a></h6>
										<div class="post-meta">
											<span>by <a href="#">admin</a></span>
											<span>October 01, 2013 11:28AM</span>
										</div>
									</div>
								</li>
								<!-- /Blog Item -->
								
								<!-- Blog Item -->
								<li>
									<div class="thumbnail">
										<img src="img/blog/thumb3.jpg" alt="">
									</div>
									
									<div class="post-content">
										<h6><a href="blog-single-sidebar.html">Nulla facillsi</a></h6>
										<div class="post-meta">
											<span>by <a href="#">admin</a></span>
											<span>October 01, 2013 11:28AM</span>
										</div>
									</div>
								</li>
								<!-- /Blog Item -->
								
							</ul>
							
						</div>
						<!-- /Popular News -->						
						
					</div>
					<!-- /Sidebar -->
					
					
					
				
				</div>
				
			</section>
			<!-- /Section -->
		
		</section>


		{% endblock %}						
								


						




