{% extends "teeuApp/base.html" %}
{% load static %}
				<!-- Lower Header -->
				{% block menu %}
				<div id="lower-header">
					
					<div class="container">
					
					<div id="menu-button">
						<div>
						<span></span>
						<span></span>
						<span></span>
						</div>
						<span>Menu</span>
					</div>
					<ul id = "tabdebut">
					
					<ul id="navigation">
						
						<!-- Home -->
						<li class="home-button current-menu-item">
						
							<a href="../"><i class="icons icon-home"></i></a>
							
							
						</li>
						<!-- /Home -->
						
						<!-- Pages -->
						<li >
						
							<span>A propos de nous</span>
							
							<ul>
							
								<li><a href="quiSommeNous.php">Qui sommes nous ?</a></li>
								<li><a href="team.php">Notre Organisation</a></li>
								<!--<li><a href="mission2.php">Notre mission</a></li>
								<li><a href="testimonials.html">Nos eglises</a></li>-->
								<li><a href="contact.php">Nous Contacter</a></li>
								
							</ul>
							
						</li>
						<!-- /Pages -->
						
						<!-- Galerie -->
						<li >
							<a href="centredeformation.php">Galerie</a>
						</li> 
						<!-- Galerie -->

						<!-- /Get Involved -->
						<!-- Events -->
						<li >
						
							<span>La Parole de Dieu</span>
							
							<ul>
							
								<li><a href="calendrier.php">Video</a></li>
								<li><a href="evenement-poster.php">Audio</a></li>
								<li><a href="evenement-poster.php">Lecture</a></li>
								<li><a href="evenement-poster.php">Notre librairie</a></li>
								
							</ul>
							
						</li>
						<!-- /Events -->
						
						<!-- Media -->
					<!--	<li >
						
							<span>Media</span>
							
							<ul>
							
								
										<li><a href="ecouter.php"> Ecouter la parole</a></li>
										<li><a href="regarder.php"> Regarder les videos</a></li>
										<li><a href="galerie.php">Gallerie</a></li>
										<li><a href="librairie.php">Notre librairie</a></li>
								
						
							</ul>
							
						</li>-->
						<!-- /Media -->
						
						
						
						
						<li >
							<a href="centredeformation.php">Nos Evenements</a>
						</li> 
						
						
						<!-- Features -->
						<!--<li >
						
							<span>Features</span>
							
							<ul>
							
								<li><a href="features-typography.html">Typography</a></li>
								<li><a href="features-shortcodes.html">Shortcodes</a></li>
								
							</ul>
							
						</li> -->
						<!-- /Features -->
						
						
						
						
						<!-- Blog -->
						<li >
						
								<a href="blog.php">Culte en ligne </a>
									
						</li>
						<!-- /Blog -->

						<!-- Blog -->
						<li >
						
								<a href="blog.php">Blog </a>
									
						</li>
						<!-- /Blog -->
						<!-- Shop -->
						<!--<li >
						
							
							
								<a href="shop-frontpage.html">Notre librairie</a>
								
								
							
						</li>
						 /Shop -->
						
						<!-- Donate -->
						<li class="donate-button ">
							<span>Donation</span>
							<ul>
							<li><a href="media-sortable-3columns.html">Faire un don</a></li>
							<li><a href="impliquez-vous.php">Impliquez-vous</a></li>
							</ul>
						</li>
						<!-- /Donate -->
						
					</ul>

				</ul>
					
					</div>
					
				</div>
				<!-- /Lower Header -->
				
				
			</header>
			<!-- /Header -->

		{% endblock %}


			{% block content %}
		<section id="content">	
			
			<!-- Page Heading -->
			<section class="section page-heading animate-onscroll">
				
				<h1>Notre Histoire</h1>
				<p class="breadcrumb"><a href="index.php">Accueil</a> / Grandir ensemble</p>
				
			</section>

			{% endblock %}

	