
<!DOCTYPE html>

<html>

<head>
		 {% load static %}
	<!-- Meta Tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!-- Title -->
		<title>EEU - Temple Universitaire</title>
		
		<!-- Google Fonts -->
		<link href='https://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>
		
		<!-- Favicon -->
		<link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
		<script defer src="{% static 'teeuApp/js/fontawesome-all.min.js' %}"></script>
		<!-- Stylesheets -->
		<link href="{% static 'teeuApp/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
		<link href="{% static 'teeuApp/css/fontello.css' %}" rel="stylesheet" type="text/css">
		<link href="{% static 'teeuApp/css/flexslider.css' %}" rel="stylesheet" type="text/css">
		<link href="{% static 'teeuApp/js/revolution-slider/css/settings.css' %}" rel="stylesheet" type="text/css" media="screen" />
		<link href="{% static 'teeuApp/css/owl.carousel.css' %}" rel="stylesheet" type="text/css">
		<link href="{% static 'teeuApp/css/responsive-calendar.css' %}" rel="stylesheet" type="text/css">
		<link href="{% static 'teeuApp/css/chosen.css' %}" rel="stylesheet" type="text/css">
		<link href="{% static 'teeuApp/jackbox/css/jackbox.min.css' %}" rel="stylesheet" type="text/css">
		<link href="{% static 'teeuApp/css/cloud-zoom.css'  %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'teeuApp/css/style.css' %}" rel="stylesheet" type="text/css">
		<link href="{% static 'teeuApp/css/mystyle.css' %}" rel="stylesheet" type="text/css">
		<link href="{% static 'teeuApp/css/video-js.min.css' %}" rel="stylesheet" type="text/css">
		

		
        <link rel='stylesheet' id='camera-css'  href="{% static 'teeuApp/css/camera.css' %}" type='text/css' media='all'> 

		
		<!--[if IE 9]>
			<link rel="stylesheet" href="css/ie9.css">
		<![endif]-->
		
		<!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<link href="css/jackbox-ie8.css" rel="stylesheet" type="text/css" />
			<link rel="stylesheet" href="css/ie.css">
        <![endif]-->
		
		<!--[if gt IE 8]>
			<link href="css/jackbox-ie9.css" rel="stylesheet" type="text/css" />
		<![endif]-->
		
		<!--[if IE 7]>
			<link rel="stylesheet" href="css/fontello-ie7.css">
		<![endif]-->
		
		<style type="text/css">
			.no-fouc {display:none;}
	  	</style>
		
		<!-- jQuery -->
		<script src="{% static 'teeuApp/js/jquery-1.11.0.min.js' %}"></script>
		<script src="{% static 'teeuApp/js/jquery-ui-1.10.4.min.js' %}"></script>
		
		<!-- Preloader -->
		<script src="{% static 'teeuApp/js/jquery.queryloader2.min.js' %}"></script>
		
		<script type="text/javascript">
		$('html').addClass('no-fouc');
		
		$(document).ready(function(){
			
			$('html').show();
			
			var window_w = $(window).width();
			var window_h = $(window).height();
			var window_s = $(window).scrollTop();
			
			$("body").queryLoader2({
				backgroundColor: '#f2f4f9',
				barColor: 'rgb(0,149,213)',
				barHeight: 4,
				percentage:false,
				deepSearch:true,
				minimumTime:1000,
				onComplete: function(){
					
					$('.animate-onscroll').filter(function(index){
					
						return this.offsetTop < (window_s + window_h);
						
					}).each(function(index, value){
						
						var el = $(this);
						var el_y = $(this).offset().top;
						
						if((window_s) > el_y){
							$(el).addClass('animated fadeInDown').removeClass('animate-onscroll');
							setTimeout(function(){
								$(el).css('opacity','1').removeClass('animated fadeInDown');
							},2000);
						}
						
					});
					
				}
			});
			
		});
		</script>
		
</head>
	
	<body class="sticky-header-on tablet-sticky-header">
	
		<div id="fb-root"></div>
	<!--<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "../../../connect.facebook.net/en_US/all.js#xfbml=1";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>	-->	
		<!-- Container -->
		<div class="container">
			<!-- Header -->
			<header id="header" class="animate-onscroll sticky">
				
				

				<!-- Lower Header -->
				<div id="lower-header">
					
					<div class="container">
					
					<div id="menu-button">
						<div>
						<span></span>
						<span></span>
						<span></span>
						</div>
						<span>Menu</span>
					</div>
					<ul id = "tabdebut">
					
					<ul id="navigation">
						
						<!-- Home -->
						<li class="home-button ">
						
							<a href="{% url 'index'%}"><i class="icons icon-home"></i></a>
							
							
						</li>
						<!-- /Home -->
						
						<!-- Pages -->
						<li>
						
							<span>A propos de nous</span>
							
							<ul>
							
								<li><a href="{% url 'presentation' %}">Qui sommes nous ?</a></li>
								<li><a href="{% url 'Organisation' %}">Notre Organisation</a></li>
								<!--<li><a href="mission2.php">Notre mission</a></li>
								<li><a href="testimonials.html">Nos eglises</a></li>-->
								<li><a href="{% url 'Contact' %}">Nous Contacter</a></li>
								
							</ul>
							
						</li>
						<!-- /Pages -->
						
						<li class="current-menu-item">
						
							<span>Media</span>
							
							<ul>
							
								<li><a href="{% url 'galerie' %}">Galerie</a></li>	
								<li><a href="{% url 'Enseignements' %}">Enseignements</a></li>	
								<!--<li><a href="mission2.php">Notre mission</a></li>
								<li><a href="testimonials.html">Nos eglises</a></li>-->
								
							</ul>
							
						</li>
						<!-- Galerie -->
						
						<!-- Galerie -->

						<!-- /Get Involved -->
						<!-- Events -->
						
						<!-- /Events -->
						
						<!-- Media -->
					<!--	<li >
						
							<span>Media</span>
							
							<ul>
							
								
										<li><a href="ecouter.php"> Ecouter la parole</a></li>
										<li><a href="regarder.php"> Regarder les videos</a></li>
										<li><a href="galerie.php">Gallerie</a></li>
										<li><a href="librairie.php">Notre librairie</a></li>
								
						
							</ul>
							
						</li>-->
						<!-- /Media -->
						
						
						
						
						<li >
							<a href="{% url 'evenements' %}">Nos Evenements</a>
						</li> 
						
						
						<!-- Features -->
						<!--<li >
						
							<span>Features</span>
							
							<ul>
							
								<li><a href="features-typography.html">Typography</a></li>
								<li><a href="features-shortcodes.html">Shortcodes</a></li>
								
							</ul>
							
						</li> -->
						<!-- /Features -->
						
						
						<!-- Blog -->
						<li >
						
								<a href="{% url 'pain' %}">Pain quotidien </a>
									
						</li>
						<!-- /Blog -->
						
						<!-- Blog -->
						<li >
						
								<a href="{% url 'discussion' %}">Discussion </a>
									
						</li>
						<!-- /Blog -->

						
						<!-- Shop -->
						<!--<li >
						
							
							
								<a href="shop-frontpage.html">Notre librairie</a>
								
								
							
						</li>
						 /Shop -->
						
						<!-- Donate -->
						<li class="donate-button ">
							<span>Donation</span>
							<ul>
							<li><a href="{% url 'don' %}">Faire un don</a></li>
							<li><a href="{% url 'implique' %}">Impliquez-vous</a></li>
							</ul>
						</li>
						<!-- /Donate -->
						
					</ul>

				</ul>
					
					</div>
					
				</div>
				<!-- /Lower Header -->
				</header>
				
			
			
		<section id="content">	
			
			<!-- Page Heading -->
		<!--	<section class="section page-heading animate-onscroll">
				
				<h1>Ecouter les enseignements</h1>
				<p class="breadcrumb"><a href="{% url 'index'%}">Accueil</a> / Ecouter les enseignements</p>
				
			</section>-->
			<!-- Page Heading -->
			

			
			<!-- Section -->

			{% if predication %}
			{% for pred in predication %}
			<div class="play-video">
			<video  id ="video" class ="video-js vjs-default-skin"  controls poster="{{pred.image_dispaly.url}}" width="640" height="430" data-setup"{}">
			<source src="{{pred.predication.url}}" type ='video/mp4'/>

			</video>
			</div>
			<div class="play-tele">
				<a class ="a-div" href="{{pred.predication.url}}" download>
										<div class="action-icon">
											<span> <i class="icon-download"></i></span>
										</div>
										</a>
			</div>
			{% endfor %}
			{% endif %}
			<section class="section full-width-bg gray-bg">
				
				<div class="row">
				
					<div class="col-lg-9 col-md-9 col-sm-8 col-lg-push-3 col-md-push-3 col-sm-push-4">
						
						<h2>Autres Enseignements</h2>
						<div class="media-items row">

						{% for pred in predications %}


							
							<div class="col-lg-4 col-md-6 col-sm-12 mix category-photos" >
															<!-- Media Item -->
							<div class="media-item animate-onscroll ">
								
								
								
								<div class="blog-post item-play">
										
									<div class="post-image">
										<img src="{{pred.image_dispaly.url}}" alt="">

									</div>
									
									<h4 class="post-title"><a href="">{{pred.titre}}</a></h4>
									
									<div class="post-meta m_bottom_25">
										<span>{{pred.date_pred}} · {{pred.Titre_predicateur}}</span>
										<span><a href="#">{{pred.predicateur}}</a></span>
									</div>
									
									<div class="post-action icon-align-play">
										{% if pred.genre == "video" %}
										<a href="Watch?id={{pred.id}}" >
										<div class="action-icon">
											<span><i class="icon-videocam"></i></span>
										</div>
										</a>
										{% endif%}

										{% if pred.genre == "Audio" %}
										<a href="Watch?id={{pred.id}}">
										<div class="action-icon">
											<span><i class="icon-headphones"></i></span>
										</div>
										</a>
										{% endif%}

										<a class ="a-div" href="{{pred.predication.url}}" download>
										<div class="action-icon">
											<span> <i class="icon-download"></i></span>
										</div>
										</a>
										<!--<div class="action-icon">
											<span><i class="icon-download"></i></span>
										</div>
										<div class="action-icon">
											<span><i class="icon-book"></i></span>
										</div>-->
									</div>
									
								</div>

								
																
							</div>

							<!-- /Media Item -->							
							</div>
							

							{% endfor %}


						</div>



						{% if predications.has_other_pages %}
						<div class="animate-onscroll">
						
							<div class="divider"></div>
							
							<div class="numeric-pagination">
								{% if predications.has_previous%}
								<a href="?page={{predications.previous_page_number}}" class="button"><i class="icons icon-left-dir"></i></a>

								{% else %}
								{% endif %}

								{% for i in predications.paginator.page_range %}
									{% if predications.number == i %}
									<a href="#" class="button active-button">{{i}}</a>
									{% else %}
									<a href="?page={{i}}" class="button">{{i}}</a>

									{% endif %}
								{% endfor %}
								
								{% if predications.has_next %}
								<a href="?page={{predications.next_page_number}}" class="button"><i class="icons icon-right-dir"></i></a>
								{% else %}

								{% endif %}
								
							</div>
						
						</div>
						
						{% endif %}
					</div>
					
					
					
					
					
					<!-- Sidebar -->
					<div class="col-lg-3 col-md-3 col-sm-4 col-lg-pull-9 col-md-pull-9 col-sm-pull-8 sidebar">
						
												<div class="banner-wrapper">
							<a class="banner animate-onscroll" href="#">
								<i class="icons icon-calendar"></i>
								<h4>Find Events</h4>
								<p>Lorem ipsum dolor sit amet</p>
							</a>
						</div>
						
						<div class="banner-wrapper">
							<a class="banner animate-onscroll" href="#">
								<i class="icons icon-check"></i>
								<h4>Register to vote</h4>
								<p>Nemo enim ipsam</p>
							</a>
						</div>
						
						<div class="banner-wrapper">
							<a class="banner animate-onscroll" href="#">
								<i class="icons icon-user"></i>
								<h4>Volunteer</h4>
								<p>Pellentesque sed dolor</p>
							</a>
						</div>
						
						<div class="banner-wrapper">
							<div class="banner donate-banner animate-onscroll">
							
								<h5>Make a <strong>quick donation</strong> here</h5>
								<form>
								
									<input id="donate-amount-1" type="radio" name="donate-amount">
									<label for="donate-amount-1">$5</label>
									
									<input id="donate-amount-2" type="radio" name="donate-amount">
									<label for="donate-amount-2">$25</label>
									
									<input id="donate-amount-3" type="radio" name="donate-amount">
									<label for="donate-amount-3">$100</label>
									
									<input type="submit" value="Donate">
									
								</form>
							</div>
						</div>						<div class="social-media animate-onscroll">
							<span class="small-caption">Get connected:</span>
							<ul class="social-icons">
								<li class="facebook"><a href="#" class="tooltip-ontop" title="Facebook"><i class="icons icon-facebook"></i></a></li>
								<li class="twitter"><a href="#" class="tooltip-ontop" title="Twitter"><i class="icons icon-twitter"></i></a></li>
								<li class="google"><a href="#" class="tooltip-ontop" title="Google Plus"><i class="icons icon-gplus"></i></a></li>
								<li class="youtube"><a href="#" class="tooltip-ontop" title="Youtube"><i class="icons icon-youtube-1"></i></a></li>
								<li class="flickr"><a href="#" class="tooltip-ontop" title="Flickr"><i class="icons icon-flickr-4"></i></a></li>
								<li class="email"><a href="#" class="tooltip-ontop" title="Email"><i class="icons icon-mail"></i></a></li>
							</ul>
							<ul class="social-buttons">
								<li>
									<iframe src="http://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;width&amp;layout=standard&amp;action=like&amp;show_faces=false&amp;share=false&amp;height=35" style="border:none; overflow:hidden; height:21px; padding-top:1px; width:50px;"></iframe>
								</li>
								<li class="facebook-share">
									<div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-type="button_count"></div>
								</li>
								<li class="twitter-share">
									<a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
								</li>
							</ul>
						</div>						<!-- Featured Video -->
						<div class="sidebar-box white featured-video animate-onscroll">
							<h3>Featured Video</h3>
							<iframe width="560" height="315" src="http://www.youtube.com/embed/FBorRZnqtMo?wmode=transparent" allowfullscreen></iframe>
							<a href="#" class="button transparent button-arrow">More videos</a>
						</div>
						<!-- /Featured Video -->						<!-- Upcoming Events -->
						<div class="sidebar-box white animate-onscroll">
							<h3>Upcoming Events</h3>
							<ul class="upcoming-events">
							
								<!-- Event -->
								<li>
									<div class="date">
										<span>
											<span class="day">25</span>
											<span class="month">DEC</span>
										</span>
									</div>
									
									<div class="event-content">
										<h6><a href="event-post-v2.html">Sed in lacus ut enim</a></h6>
										<ul class="event-meta">
											<li><i class="icons icon-clock"></i> 4:00 pm - 6:00 pm</li>
											<li><i class="icons icon-location"></i> 340 W 50th St.New York</li>
										</ul>
									</div>
								</li>
								<!-- /Event -->
								
								<!-- Event -->
								<li>
									<div class="date">
										<span>
											<span class="day">5</span>
											<span class="month">JAN</span>
										</span>
									</div>
									
									<div class="event-content">
										<h6><a href="event-post-v2.html">Sed in lacus ut enim</a></h6>
										<ul class="event-meta">
											<li><i class="icons icon-clock"></i> 4:00 pm - 6:00 pm</li>
											<li><i class="icons icon-location"></i> 340 W 50th St.New York</li>
										</ul>
									</div>
								</li>
								<!-- /Event -->
								
								<!-- Event -->
								<li>
									<div class="date">
										<span>
											<span class="day">8</span>
											<span class="month">JAN</span>
										</span>
									</div>
									
									<div class="event-content">
										<h6><a href="event-post-v2.html">Sed in lacus ut enim</a></h6>
										<ul class="event-meta">
											<li><i class="icons icon-clock"></i> 4:00 pm - 6:00 pm</li>
											<li><i class="icons icon-location"></i> 340 W 50th St.New York</li>
										</ul>
									</div>
								</li>
								<!-- /Event -->
								
							</ul>
							<a href="#" class="button transparent button-arrow">More events</a>
						</div>
						<!-- /Upcoming Events -->						<!-- Image Banner -->
						<div class="sidebar-box image-banner animate-onscroll">
							<a href="issues.html">
								<img src="img/main-issues.jpg" alt="">
								<h3>The main issues</h3>
								<span class="button transparent button-arrow">Find out more</span>
							</a>
						</div>
						<!-- /Image Banner -->						
					</div>
					<!-- /Sidebar -->
					
					
					
				
				</div>
				
			</section>
			<!-- /Section -->
		
		</section>



			<!-- Main Footer -->
				 <footer id="footer">
				<div id="main-footer">
					<div class="row">

					<div class="col-lg-12 col-md-12 col-sm-12 animate-onscroll  menu-container">

					<div id = "footMenu">
								<ul class = "Menu">
									<li><a href="#">Accueil</a></li>
									
									<li><a href="#">Heures de cultes</a></li>
									<li><a href="#">Blog</a></li> 
									<li><a href="#">Centre de Formation</a></li>
									<li><a href="#">Contactez nous</a></li>
								</ul>
							</div>
					</div>	
					</div>
					</div>
						<div class="col-lg-3 col-md-3 col-sm-6 animate-onscroll">
							
							<h4>Text Widget</h4>
							
							<p>Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus. Vestibulum libero nisl, porta vel.<br><br>
Vivamus eget nibh. Etiam cursus leo vel metus. Nulla facilisi. Aenean nec eros. Vestibulum ante ipsum.</p>
							
						</div>
						
						<div class="col-lg-3 col-md-3 col-sm-6 animate-onscroll">
							
							<h4>Campaign</h4>
								
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 menu-container">
								
								<ul class="menu">
									<li><a href="#">About</a></li>
									<li><a href="#">Issues</a></li>
									<li><a href="#">Media</a></li>
									<li><a href="#">Blog</a></li> 
									<li><a href="#">Shop</a></li>
									<li><a href="#">Contact us</a></li>
								</ul>
								
							</div>
							
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 menu-container">
								
								<ul class="menu">
									<li><a href="#">Email updates</a></li>
									<li><a href="#">Find events</a></li>
									<li><a href="#">Make calls</a></li>
									<li><a href="#">Register to vote</a></li> 
									<li><a href="#">Donate</a></li>
									<li><a href="#">Volunteer</a></li>
								</ul>
								
							</div>
							
						</div>
						
						<div class="col-lg-3 col-md-3 col-sm-6 twitter-widget-area animate-onscroll">
							
							<h4>Latest Tweets</h4>
							
							<div class="twitter-widget">
                                
							</div>
							
							<a href="#" class="button twitter-button">Follow us on twitter</a>
							
						</div>
						
						<div class="col-lg-3 col-md-3 col-sm-6 animate-onscroll">
							
							<h4>Like us on facebook</h4>
							
							<iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2FFacebookDevelopers&amp;width=270&amp;height=240&amp;colorscheme=dark&amp;header=false&amp;show_faces=true&amp;stream=false&amp;show_border=false" style="border:none; overflow:hidden; width:100%; height:240px;"></iframe>
							
						</div>
						
					</div>
					
				</div>
				<!-- /Main Footer --> 
				
				
				
				
				<!-- Lower Footer -->
				<div id="lower-footer">
					
					<div class="row">
						
						<div class="col-lg-4 col-md-4 col-sm-4 animate-onscroll">
						
							<p class="copyright">© 2016 Candidate. All Rights Reserved.</p>
							
						</div>
						
						<div class="col-lg-8 col-md-8 col-sm-8 animate-onscroll">
							
							<div class="social-media">
								<ul class="social-icons">
									<li class="facebook"><a href="#" class="tooltip-ontop" title="Facebook"><i class="icons icon-facebook"></i></a></li>
									<li class="twitter"><a href="#" class="tooltip-ontop" title="Twitter"><i class="icons icon-twitter"></i></a></li>
									<li class="google"><a href="#" class="tooltip-ontop" title="Google Plus"><i class="icons icon-gplus"></i></a></li>
									<li class="youtube"><a href="#" class="tooltip-ontop" title="Youtube"><i class="icons icon-youtube-1"></i></a></li>
									<li class="flickr"><a href="#" class="tooltip-ontop" title="Flickr"><i class="icons icon-flickr-4"></i></a></li>
									<li class="email"><a href="#" class="tooltip-ontop" title="Email"><i class="icons icon-mail"></i></a></li>
									<li class="instagram"><a href="#" class="tooltip-ontop" title="Instagram"><i class="icons icon-instagram"></i></a></li>
								</ul>
							</div>
							
						</div>
						
					</div>
					
				</div>
				<!-- /Lower Footer -->
				
			
			</footer>
			<!-- /Footer -->
			
			<!-- Back To Top -->
			<a href="#" id="button-to-top"><i class="icons icon-up-dir"></i></a>
		
		</div>
		<!-- /Container -->	
	
		<!-- JavaScript -->
		
		<!-- Bootstrap -->
		<script type="text/javascript" src=" {% static 'teeuApp/js/bootstrap.min.js' %}"></script>
		
		<!-- Modernizr -->
		<script type="text/javascript" src=" {% static 'teeuApp/js/modernizr.js' %}"></script>
		
		<!-- Sliders/Carousels -->
		<script type="text/javascript" src=" {% static 'teeuApp/js/jquery.flexslider-min.js' %}"></script>
		<script type="text/javascript" src=" {% static 'teeuApp/js/owl.carousel.min.js' %}"></script>
		
		<!-- Revolution Slider  -->
		<script type="text/javascript" src=" {% static 'teeuApp/js/revolution-slider/js/jquery.themepunch.plugins.min.js' %}"></script>
		<script type="text/javascript" src=" {% static 'teeuApp/js/revolution-slider/js/jquery.themepunch.revolution.min.js' %}"></script>
		
		<!-- Calendar -->
		<script type="text/javascript" src=" {% static 'teeuApp/js/responsive-calendar.min.js' %}"></script>
		
		<!-- Raty -->
		<script type="text/javascript" src=" {% static 'teeuApp/js/jquery.raty.min.js' %}"></script>
		
		<!-- Chosen -->
		<script type="text/javascript" src=" {% static 'teeuApp/js/chosen.jquery.min.js' %}"></script>
		
		<!-- jFlickrFeed -->
		<script type="text/javascript" src=" {% static 'teeuApp/js/jflickrfeed.min.js' %}"></script>
		
		<!-- InstaFeed -->
		<script type="text/javascript" src=" {% static 'teeuApp/js/instafeed.min.js' %}"></script>
		
		<!-- Twitter -->
		<script type="text/javascript" src=" {% static 'teeuApp/js/twitter/jquery.tweet.js' %}"></script>
		
		<!-- MixItUp -->
		<script type="text/javascript" src=" {% static 'teeuApp/js/jquery.mixitup.js' %}"></script>

		<!-- Countdown -->
		<script type="text/javascript" src="{% static 'teeuApp/js/jquery.countdown.min.js' %}"></script> 
		
		<!-- JackBox -->
		<script type="text/javascript" src=" {% static 'teeuApp/jackbox/js/jackbox-packed.min.js' %}"></script>
		
		<!-- CloudZoom -->
		<script type="text/javascript" src=" {% static 'teeuApp/js/zoomsl-3.0.min.js' %}"></script>
		
		<!-- Main Script -->
		<script type="text/javascript" src=" {% static 'teeuApp/js/script.js' %}"></script>
		
		
		<!--[if lt IE 9]>
			<script type="text/javascript" src="js/jquery.placeholder.js"></script>
			<script type="text/javascript" src="js/script_ie.js"></script>
		<![endif]-->
		

			  
    <script src=" {% static 'teeuApp/js/js/modernizr-latest.js' %}"></script> 
    <script type='text/javascript' src=" {% static 'teeuApp/js/js/jquery.min.js' %}"></script>
    <script type='text/javascript' src=" {% static 'teeuApp/js/js/fancybox/jquery.fancybox.pack.js' %}"></script>
    
    <script type='text/javascript' src=" {% static 'teeuApp/js/js/jquery.mobile.customized.min.js' %}"></script>
    <script type='text/javascript' src=" {% static 'teeuApp/js/js/jquery.easing.1.3.js' %}"></script> 
    <script type='text/javascript' src=" {% static 'teeuApp/js/js/camera.min.js' %}"></script> 
    <script type='text/javascript' src=" {% static 'teeuApp/js/js/video.min.js' %}"></script> 
    <script type='text/javascript' src=" {% static 'teeuApp/js/js/videojs-ie8.min.js' %}"></script> 
     
    
    
    <script>
        jQuery(function(){
            
            jQuery('#camera_wrap_4').camera({
                height: '600',
                loader: 'bar',
                pagination: false,
                thumbnails: false,
                hover: false,
                opacityOnGrid: false,
                imagePath: 'img/'
            });

        });
    </script>
			
		
	</body>

</html>