<!DOCTYPE html>
<html>
<head>
	<title> Login Eleve</title>
</head>
<body>
	<header>
		{% if user.is_authenticated %}
     <li>User: {{ user.get_username }}</li>
     <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>   
   {% else %}
     <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>   
   {% endif %} 
	</header>
	<p> vous ete identifie</p>
	<p> <a href="accounts/logout"> Sortir</a></p>
</body>
</html>

{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'classe' 24 %}">{{ question.nom_fil }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}




<p>Logged out!</p>  

<a href="{% url 'login'%}">Click here to login again.</a>
